PORT=3000
HOST=0.0.0.0
DATABASE_PATH=./data/echovale.db
POLL_INTERVAL_MINUTES=20
FEED_FETCH_TIMEOUT_MS=15000
ARTICLE_FETCH_TIMEOUT_MS=20000
ECHOVALE_ACCOUNTS=[{"username":"you","password":"change-this-password"},{"username":"partner","password":"change-this-password-too"}]
ECHOVALE_BIND_ADDRESS=127.0.0.1
ECHOVALE_PORT=3000
